body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fcfcfc!important;
    overflow: hidden!important;
    
}
html, body, div, span, object,
form, input, h1, h2, button, label, a, img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  text-shadow:0 1px 0 #fdfdfd;
  text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
html, body{
	height: 100%;
	max-height: 100%;
}
input:focus,button:focus{
	outline: 0 !important;
}
td, li, th,h2 {
	cursor: default!important;
}
h3{
	text-align: center;
}
h3 span{
	font-size: 12px;
	line-height: 10px;
	vertical-align: top;
}
button{
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);!important;
}
.signin {
max-width: 500px;
margin: 40px auto;
}

/*#books{
	margin-top:60px;
}*/

.fiftypxgap{
	margin-top: 50px;
}
.uDiv{
	color:white;
	min-width:150px;
	max-width:200px;
	position:absolute;
	z-index:1;
	float:left;
	-webkit-border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	
}
#pagination{
	margin-right: 20px;
}
#pagination>li>a{
	padding: 8px 10px !important;
	margin: 4px 4px !important;
}

#pagination>li>a:hover{
	background-color: #3276b1 !important;
	padding: 8px 10px !important;
}

#pagination>li>a.disabled{
	background-color: #eee !important;
}
#pagination>li>a.disabled:hover{
	background-color: #eee !important;
}
.bDiv{
	position:absolute;
	margin-top:210px;
	z-index:2;
	float:left;
	-webkit-border-bottom-left-radius:14px;
	-webkit-border-bottom-right-radius:14px;
}

				
.topP{
	padding-top:50px;
	padding-left:10px; 
	position:absolute;
	color:white;
	height:50px;
	min-width:130px;
	max-width:170px;	
	z-index:4;
	font-size:25px;
}

.botP{
	color:white;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
	font-size:16px;
	height:50px;
	margin-top: 250px;
	margin-left:20px;
	width:130px;
	position:absolute;
	z-index:3;
}

.rDiv{
	position:absolute;
	z-index:3;
	-webkit-border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
}

.num{
	color:#fff;
	font-size: 10px;
	position:absolute;
	z-index:5;
	padding-left: 10px;
	text-shadow:1px 1px black;
}

/*.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 100px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
 .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 100%;
}

.form-signin button{
  width: 100%;
}
*/
.link{
	position:absolute;	
	font-size:12px;
	margin-top:290px;
	z-index:4;
}


#footer{
	width:100%;
	background-color:#F0F0F0;	
	position:fixed;
	bottom:0;
	z-index: 100;
	padding: 0 0!important; 
	border-top:1px solid #9c9c9c;
}

.active{
	background-color:#00F;
}

.book, .newbook{
	border: #ccc 1px solid;	
	box-shadow: 0px 0px 10px rgba(200, 200, 200, 0);
	transition: box-shadow 0.25s ease-in-out;
	border-radius: 14px;	
	overflow:hidden;
	margin-right: 20px;
	list-style-type: none;
	cursor: pointer!important;
}

.book:hover, .newbook:hover{
	border: #ccc 1px solid;
	box-shadow: 0px 0px 10px rgba(200, 200, 200, .9);
	transition: box-shadow 0.25s ease-in-out;
	border-radius: 14px;
	overflow:hidden;
	margin-right: 20px;
	list-style-type: none;
}
/*
.newbook{
	list-style: none;
	border: #ccc 1px solid;	
	box-shadow: 0px 0px 10px rgba(200, 200, 200, 0);
	transition: box-shadow 0.25s ease-in-out;
	border-radius: 14px;
}

.newbook:hover{
	list-style: none;
	border: #ccc 1px solid;
	box-shadow: 0px 0px 10px rgba(200, 200, 200, .9);
	transition: box-shadow 0.25s ease-in-out;
	border-radius: 14px;	
}
*/
#bookpopup{
	/*background-color:#000;*/	
	width:100%;
	height:100%;
	margin:auto;
	float:left;
}

.close{
	left:0px;
}
.subscribe{
	position:absolute;
	font-size:12px;
	color: white;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
	margin-top:290px;
	margin-left:70px;
	z-index:4;

}
.unsubscribe{
	position:absolute;
	font-size:12px;
	color: white;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
	margin-top:290px;
	margin-left:55px;
	z-index:4;

}
.edit{
	padding-top:20px;
	margin-right:20px;
}

#searchbox{
	margin-top: 25px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	min-width: 200px;
	max-width: 300px;
	margin-left: 850px;

}

#addbook{
	margin-top: 20px;
}

#btn{
	margin-top: 20px;
}

.settinglink, .settinglink:hover{
	color:white;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
	text-decoration: none;
	cursor: pointer;
}

.bgblack{
	/*color:#fff;*/
}

.back2Lib {
	float: left;
	color: #81DA81;
	background: #FFF;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #ccc;
}

#bookstore{
	margin-top:20px;
	float:left;
}

#preloader{
	position:absolute;
	z-index:5;
	width:200px;
	height:50px;
	padding-left: 500px;
	padding-top: 50px;
}


#preloadertext{
	width: 200px;
	height: 10px;
	color:#006300;
	font-size: 10px;	
}

.cov{
	position:absolute;
	z-index:4;
}

.imgUp{
	display:block;
	position: absolute;
	z-index: 4;
	width:150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.preloaderImg{
	display:block;
	position: absolute;
	z-index: 4;
	width:16px;
	height:16px;
	margin-top:130px;
	margin-left:55px;
}
.progress{
	width:290px;
	height:5px;
}

#footerlist{
	margin-left:40%;
}
.del{
	display:block;
	font-size: 10px;
	padding: 2px 6px;
	color: #000;
	background-color: #fcfcfc;
	position: absolute;
	z-index: 999;
	margin-left: 10px;
}
.del:hover{
	text-decoration: none;
}

.view, .newview, .searchview, .bookcontentview {
	list-style: none;
	width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

#searchstore {
	/*padding-top: 25px;
	padding-left: 70px;
	font-size: 30px;
	font-style: italic;
	margin-top: 80px;*/
	margin-top:20px;
	float:left;
	font-size: 20px;
	font-style: italic;
}

/*#bookview {
	width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}
*/
.pagecontent {
	float:left;
	margin:0;
	padding:0;
}

/*#userbookcontent {
	max-height:800px !important;
}
*/
#userbook{
	width:100%;
	height:100%;
	overflow: hidden;
}
#userbook>#frameContainer>iframe{
	width:100%;
	/*height:918px;*/
	border:0;
	overflow-x: hidden; overflow-y: scroll;
	/*margin-bottom:10px;*/
	box-shadow: 0px 0px 10px rgba(200, 200, 200, .9);
	background-color: #fff;
}

#userbook>#frameContainer{
	overflow: scroll;
	height: 100%;
}
#userbookcontent{
	color:#fff;
	width: 100%;
	float: left;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

#contentcontainer{
	width: 100%;
	float: left;
}

#menubar{
	width: 40px;
	float: left;
	position:fixed;	
}

#backtohome{
	display:block;
}

#searchcontent{
	display:block;
}

#calendar{
	display:block;
}

#announcement{
	display:block;
}

#feedback{
	display:block;
}

#navigation{
	float:left;
	position:fixed;
	margin-left: 3%;
	/*width: 22%;*/
	width:246px;
	top: 0;
	bottom: 0;
	overflow-y: auto;	
	overflow-x:hidden;
}

#userbook{
	width:76%;
	float:left;
	margin-left: 46px;
}

#comment{
	float:left;
	color: #000;
}

.foot{
	float:left;
}

#searchcon{
	margin-left: 10px;
}

#navlist{
	padding-top: 15px;
	padding-left: 10px;
	margin-bottom: 60px;
}

#navlist a{
	display:inline-block;
	margin-left: 10px;
	background-color: #fff;
	height: 40px;
	width: 98%;
	line-height: 40px;
	padding-left: 5px;
	text-decoration: none;
	color: black;
}

#navlist a:hover{
	display:inline-block;
	margin-left: 10px;
	background-color: #fff;
	height: 40px;
	width: 93%;
	line-height: 40px;
	padding-left: 5px;
	text-decoration: none;
	color: black;
}

#navlist li{
	min-height: 40px;
	list-style: none;
}

.iframelink>ul>li>a{
	width: 100% !important;
	color: #333!important;
	font-style: italic;
}

.iframelink>ul>li>a:hover{
	width: 100% !important;
	color: #333!important;
	font-style: italic;
}
.iframelink>ul{
	padding-left: 4px;
}
#methoddraw {
	height:100%;
	width: 97%;
}

#drawframe{
	height: 100%;
	width: 100%;
	margin-left: 3%;
	background-color: white;
}
#newbookdiv{
	margin-top: 50px;
}

.current{
	background-color:#999;
	
}
.current a{
	color: white;	
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
}
.current a:hover{
	color: white;	
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);;
	background-color:#9c9c9c!important;
}

#showmodal{
	width: 100%;
	height: 100%;
}

#showbrowseriframe{
	height:768px;
	width: 100%;
}

#backtolib, #addbook{
	cursor: pointer;
}
.clear{
	clear: both;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
